#page_card_result {
    display: none;
    h1 {
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        color: #339;
        text-shadow: 1px 1px 5px #AAA;
        display: inline-block;
        margin: 5px 10px;
        pointer: cursor;
    }
    a {
        color: #039;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    #searchresult {
        padding: 10px;
        .result .item {
            border-bottom: 1px solid #DDD;
            padding-bottom: 10px;
            margin: 5px;
            cite {
                color: #f90;
                font-size: 12px;
            }
            h3 {
                padding: 5px 0;
                margin: 0;
            }
        }
        .typo {
            font-size: 13px;
            font-weight: bold;
            &:before {
                content: "打错了少年？是不是这个：";
                font-weight: normal;
                font-style: italic;
            }
        }
        .related {
            &:before {
                content: "相关搜索：";
                font-weight: bold;
                font-style: italic;
                display: block;
            }
            p._Bmc {
                display: inline-block;
                width: 40%;
            }
        }
    }
    .pages {
        padding: 10px;
        &:before {
            content: "页码：";
            font-weight: bold;
            font-style: italic;
        }
        a {
            margin: 0 5px;
            &.active {
                font-weight: bold;
                color: #000;
                text-decoration: underline;
            }
        }
    }
}
